<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdmoney.credit.framework.dao.pub.TPbccrcCreditRecordMapper">
  <resultMap id="BaseResultMap" type="com.zdmoney.credit.framework.domain.TPbccrcCreditRecord">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_ID" jdbcType="DECIMAL" property="reportId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="RECORD_NUM" property="recordNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REPORT_ID, TYPE, CONTENT, RECORD_NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PBCCRC_CREDIT_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_PBCCRC_CREDIT_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zdmoney.credit.framework.domain.TPbccrcCreditRecord">
  	<selectKey keyProperty="id" order="BEFORE" resultType="long">
         select <include refid="TABLE_SEQUENCE" /> from dual
    </selectKey>
    insert into T_PBCCRC_CREDIT_RECORD (ID, REPORT_ID, TYPE, 
      CONTENT,RECORD_NUM)
    values (#{id,jdbcType=DECIMAL}, #{reportId,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{recordNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zdmoney.credit.framework.domain.TPbccrcCreditRecord">
    insert into T_PBCCRC_CREDIT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="reportId != null">
        REPORT_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="recordNum != null">
        recordNum
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="reportId != null">
        #{reportId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="recordNum != null">
        #{recordNum,jdbcType=DECIMAL}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdmoney.credit.framework.domain.TPbccrcCreditRecord">
    update T_PBCCRC_CREDIT_RECORD
    <set>
      <if test="reportId != null">
        REPORT_ID = #{reportId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="recordNum != null">
        RECORD_NUM = #{recordNum,jdbcType=DECIMAL}
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdmoney.credit.framework.domain.TPbccrcCreditRecord">
    update T_PBCCRC_CREDIT_RECORD
    set REPORT_ID = #{reportId,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      RECORD_NUM = #{recordNum,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <!-- 根据征信报告id查询 -->
  <select id="findByReportId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PBCCRC_CREDIT_RECORD
    where REPORT_ID = #{reportId,jdbcType=DECIMAL} 
    ORDER BY ID DESC
  </select>
  
  <sql id="TABLE_SEQUENCE">SEQ_PBCCRC_CREDIT_RECORD.nextval</sql>
</mapper>